<div class="card bg-light border-light">
  <h1 class="display-4 text-center" style="text-shadow: 2px 2px gainsboro;">Gerenciar Eventos</h1>
  <form (ngSubmit)="onSubmit()" #eventoForm="ngForm">
    <input type="hidden" [(ngModel)]="evento.id" name="id" />
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="nome">Nome:</label>
        <input class="form-control" id="nome" name="nome" [(ngModel)]="evento.nome" #nome="ngModel" required/>
      </div>
      <div class="form-group col-lg-6">
        <label for="preco">Preço Ingresso:</label>
        <input type="number"  class="form-control" id="preco" name="preco" [(ngModel)]="evento.preco" #preco required/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="descricao">Descrição:</label>
        <textarea class="form-control" name="descricao" id="descricao" [(ngModel)]="evento.descricao" required minlength="100" #descricao="ngModel"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-3">
        <label for="dataInicio">Data Inicio:</label>
        <input id="dataInicio" class="form-control" name="dataInicio" type="datetime-local" max="9999-12-31T23:59"
          [(ngModel)]="evento.dataInicio" required #dataInicio="ngModel">
      </div>
      <div class="form-group col-lg-3">
        <label for="dataFim">Data Fim:</label>
        <input id="dataFim" class="form-control" name="dataFim" type="datetime-local" max="9999-12-31T23:59"
          [(ngModel)]="evento.dataFim" required #dataFim="ngModel">
      </div>
      <div class="form-group col-lg-3">
        <label for="ingressosDisponiveis">Ingressos Disponíveis:</label>
        <input id="ingressosDisponiveis" class="form-control" name="ingressosDisponiveis" type="number" min=0
          [(ngModel)]="evento.quantidadeIngressos" required #quantidadeIngresso="ngModel">
      </div>
      <div class="form-group col-lg-3">
        <label for="casaDeShow">Casa De Show:</label>
        <select id="casaDeShow" class="form-control" name="casaDeShow" [(ngModel)]="idCasa" required #casaDeShow="ngModel">
          <option *ngFor="let casa of casas" value="{{casa.id}}">{{casa.nome}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="">Imagem:</label>
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <div class="custom-file">
          <input #file accept='image/*' [(ngModel)]="imagePath" (change)="preview(file.files)" type="file" name="file"
            class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">{{imagePath}}</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
      </div>
    </div>
    <div class="ml-1 form-row">
      <p *ngIf="evento.imagemEncoded">Preview:</p>
      <img class="mx-auto py-2 rounded" [src]="evento.imagemEncoded" height="200" *ngIf="evento.imagemEncoded">
    </div>
    <button style="box-shadow: 4px 4px gainsboro; text-shadow: 1px 2px green;" *ngIf="evento.id === 0;else alterarEvento" type="submit" class="btn btn-success btn-block">Cadastrar</button>
    <ng-template #alterarEvento>
      <button style="box-shadow: 4px 4px gainsboro; text-shadow: 1px 2px green;"  type="submit" class="col-md-6 btn btn-success py-1">Alterar Evento</button>
      <button style="box-shadow: 4px 4px gainsboro; text-shadow: 1px 2px darkred;" type="button" (click)="resetForm()" class="col-md-6 btn btn-danger py-1">Cancelar</button>
    </ng-template>
  </form>
</div>
<hr />
<div class="alert alert-danger text-center" *ngIf="deleteErro" role="alert">
  {{deleteErro}}!
</div>
<div class="card bg-light border-light">
  <h1 class="display-4 text-center" style="text-shadow: 2px 2px gainsboro;">Eventos Cadastrados</h1>
  <div class="table-responsive">
    <p class="small mb-0 text-center text-muted">Não é permitido alterar ou excluir eventos com ingressos vendidos!</p>
    <table class="table table-striped table-inverse ">
      <thead class="thead-inverse">
        <tr>
          <th style="border-right: 2px;">ID</th>
          <th>Nome</th>
          <th>Casa De Show</th>
          <th>Ingressos Disponiveis</th>
          <th>Ingressos Vendidos</th>
          <th>Imagem</th>
          <th colspan="2">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos">
          <td scope="row">{{evento.id}}</td>
          <td>{{evento.nome}}</td>
          <td>{{evento.casaDeShow.nome}}</td>
          <td>{{evento.quantidadeIngressos}}</td>
          <td>{{evento.ingressosVendidos}}</td>
          <td class="mx-auto text-center"><img style="height: 40px;" class="rounded mx-auto text-center"
              src="{{evento.imagemEncoded}}" /></td>
          <td *ngIf="evento.ingressosVendidos === 0; else botaoAlterar" class="text-right"><a
              style="border: 2px solid black;box-shadow: 2px 2px gainsboro; text-shadow: 1px 1px 3px darkkhaki;"
              (click)="editar(evento)" class="btn btn-warning font-weight-bold py-0 px-1">Alterar</a></td>
          <ng-template #botaoAlterar>
            <td class="text-right"><a style="border: 2px solid gray;box-shadow: 2px 2px gainsboro"
                class="btn btn-secondary font-weight-bold py-0 px-1">Alterar</a></td>
          </ng-template>
          <td *ngIf="evento.ingressosVendidos === 0; else botaoExcluir" class="text-left"><a
              style="border: 2px solid black;box-shadow: 2px 2px gainsboro; text-shadow: 1px 1px 3px darkred;"
              (click)="excluir(evento.id)" class="btn btn-danger font-weight-bold py-0 px-1">Excluir</a></td>
          <ng-template #botaoExcluir>
            <td class="text-right"><a style="border: 2px solid gray;box-shadow: 2px 2px gainsboro"
                class="btn btn-secondary font-weight-bold py-0 px-1">Excluir  </a></td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
