<div class="pb-4 mb-3 py-0" style="box-shadow: 0px 0px 4px gainsboro">
<h1 style="text-shadow: 5px 5px gainsboro; color: palegreen;" class="text-center mb-0 pb-0 font-weight-bold display-1">LetsGo!</h1>
<h3 style="text-shadow: 2px 2px gainsboro; color: palegreen;" class="text-center mt-0 pt-0 ">Aqui você encontra os melhores Eventos</h3>
</div>
<div class="row">
  <div *ngFor="let evento of eventos" class="px-2 col-lg-4 mb-3">
    <div class="card" style="background-color: #fff; box-shadow: 2px 2px 8px gainsboro;">
      <img class="card-img-top w-100" style="height: 125px;" src="{{evento.imagemEncoded}}" />
      <div class=" mx-1 px-3">
      <h4 class="text-center mt-2 mb-0"><a style="color: greenyellow;" href="/evento/detalhes/{{evento.id}}">{{evento.nome}}</a></h4>
      <hr class="my-1 py-0 border-success"/>
      <p class="text-center my-0"> <strong>{{evento.casaDeShow.cidade}} - {{evento.casaDeShow.estado}}</strong> </p>
      <p class="text-center mb-0"> {{evento.dataString}} </p>
      <p class="small text-center">Ingressos Disponiveis: {{evento.quantidadeIngressos}}</p>
    </div>
    </div>
  </div>
</div>
